In [1]:
#IMPORTING IMPORTANT LIBRARIES
import numpy as np
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [2]:
#READING THE DATA
data = pd.read_csv("dataset.csv")

In [3]:
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274.0,...,5.0,0.0,1.0,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0.0,...,42.0,0.0,8.0,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767.0,...,38.0,0.0,2.0,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0.0,...,65.0,0.0,7.0,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,02/03/11,Employed,M,43836.0,...,44.0,0.0,1.0,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8289,TQ82322,California,2438.689804,No,Basic,Bachelor,2/19/11,Employed,F,80927.0,...,8.0,0.0,1.0,Personal Auto,Personal L2,Offer2,Branch,211.660971,Two-Door Car,Medsize
8290,CB77819,California,4736.347990,No,Basic,High School or Below,02/10/11,Unemployed,M,0.0,...,1.0,0.0,3.0,Personal Auto,Personal L3,Offer1,Web,585.454243,Two-Door Car,Medsize
8291,VG68427,Arizona,5608.155723,No,Basic,High School or Below,2/17/11,Employed,M,81914.0,...,33.0,0.0,6.0,Corporate Auto,Corporate L2,Offer4,Branch,198.754660,Four-Door Car,Medsize
8292,WO42164,Oregon,6465.223746,No,Extended,High School or Below,02/07/11,Unemployed,M,0.0,...,24.0,0.0,3.0,Personal Auto,Personal L3,Offer1,Call Center,662.400000,Four-Door Car,Medsize
8293,NL87371,Oregon,2435.245577,No,Basic,Bachelor,1/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#STEP-1
#CREATING A CONNECTOR TO THE DATABASE
csv_database = create_engine('sqlite:///csv_database.db')

In [5]:
#STEP-2
#BUILDING THE DATABASE BY CHUNKSIZE
chunksize = 10000
i = 0
j = 0

for df in pd.read_csv("dataset.csv", chunksize=chunksize, iterator = True):#Coding the procedure for loading the data-set file iteration-after-iteration by chunksize
    df = df.rename(columns = {c: c.replace(' ','') for c in df.columns})#Removing spaces in column spaces
    df.index += j
    
    df.to_sql('data_use', csv_database, if_exists='append')#Appending the existing dataset by current(i) bunch of data
    j=df.index[-1]+1#Indexing the position for the next bunch of data(for next iteration)
    
    print('| index: {}'.format(j))

| index: 8294

In [6]:
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274.0,...,5.0,0.0,1.0,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0.0,...,42.0,0.0,8.0,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767.0,...,38.0,0.0,2.0,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0.0,...,65.0,0.0,7.0,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,02/03/11,Employed,M,43836.0,...,44.0,0.0,1.0,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8289,TQ82322,California,2438.689804,No,Basic,Bachelor,2/19/11,Employed,F,80927.0,...,8.0,0.0,1.0,Personal Auto,Personal L2,Offer2,Branch,211.660971,Two-Door Car,Medsize
8290,CB77819,California,4736.347990,No,Basic,High School or Below,02/10/11,Unemployed,M,0.0,...,1.0,0.0,3.0,Personal Auto,Personal L3,Offer1,Web,585.454243,Two-Door Car,Medsize
8291,VG68427,Arizona,5608.155723,No,Basic,High School or Below,2/17/11,Employed,M,81914.0,...,33.0,0.0,6.0,Corporate Auto,Corporate L2,Offer4,Branch,198.754660,Four-Door Car,Medsize
8292,WO42164,Oregon,6465.223746,No,Extended,High School or Below,02/07/11,Unemployed,M,0.0,...,24.0,0.0,3.0,Personal Auto,Personal L3,Offer1,Call Center,662.400000,Four-Door Car,Medsize
8293,NL87371,Oregon,2435.245577,No,Basic,Bachelor,1/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
j

8294

In [20]:
#CONSTRUCTING THE DATAFRAME FROM THE DATABASE
#NOW WRITING THE REQUIRED QUERY
df = pd.read_sql_query('SELECT * FROM data_use WHERE TotalClaimAmount ', csv_database)

In [21]:
df.columns

Index(['index', 'Customer', 'State', 'CustomerLifetimeValue', 'Response',
       'Coverage', 'Education', 'EffectiveToDate', 'EmploymentStatus',
       'Gender', 'Income', 'LocationCode', 'MaritalStatus',
       'MonthlyPremiumAuto', 'MonthsSinceLastClaim',
       'MonthsSincePolicyInception', 'NumberofOpenComplaints',
       'NumberofPolicies', 'PolicyType', 'Policy', 'RenewOfferType',
       'SalesChannel', 'TotalClaimAmount', 'VehicleClass', 'VehicleSize'],
      dtype='object')

In [22]:
df.head(10)

,index,Customer,State,CustomerLifetimeValue,Response,Coverage,Education,EffectiveToDate,EmploymentStatus,Gender,...,MonthsSincePolicyInception,NumberofOpenComplaints,NumberofPolicies,PolicyType,Policy,RenewOfferType,SalesChannel,TotalClaimAmount,VehicleClass,VehicleSize
0,0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,...,5.0,0.0,1.0,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,...,42.0,0.0,8.0,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,...,38.0,0.0,2.0,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,...,65.0,0.0,7.0,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,4,HB64268,Washington,2813.692575,No,Basic,Bachelor,02/03/11,Employed,M,...,44.0,0.0,1.0,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
5,5,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,1/25/11,Employed,F,...,94.0,0.0,2.0,Personal Auto,Personal L3,Offer2,Web,159.383042,Two-Door Car,Medsize
6,6,XZ87318,Oregon,5380.898636,Yes,Basic,College,2/24/11,Employed,F,...,13.0,0.0,9.0,Corporate Auto,Corporate L3,Offer1,Agent,321.600000,Four-Door Car,Medsize
7,7,CF85061,Arizona,7216.100311,No,Premium,Master,1/18/11,Unemployed,M,...,68.0,0.0,4.0,Corporate Auto,Corporate L3,Offer1,Agent,363.029680,Four-Door Car,Medsize
8,8,DY87989,Oregon,24127.504020,Yes,Basic,Bachelor,1/26/11,Medical Leave,M,...,3.0,0.0,2.0,Corporate Auto,Corporate L3,Offer1,Agent,511.200000,Four-Door Car,Medsize
9,9,BQ94931,Oregon,7388.178085,No,Extended,College,2/17/11,Employed,F,...,7.0,0.0,8.0,Special Auto,Special L2,Offer2,Branch,425.527834,Four-Door Car,Medsize